<h1>Create A New Figure</h1>

<form action="/figures" method="POST">
  <p>Name: <input type="text" name="figure[name]" id="figure_name"></p>
  <br>
  <label>Choose A Title:</label>
  <br>
  <% Title.all.each do |t| %>
    <input type="checkbox" id="title_<%= t.id %>" name="figure[title_ids][]" value="<%= t.id %>"><%= t.name %></input>
    <% end %>
  <br>
  <br>
  <label>Choose A Landmark:</label>
  <br>
  <% Landmark.all.each do |l| %>
    <input type="checkbox" id="landmark_<%= l.id %>" name="figure[landmark_ids][]" value="<%= l.id %>"><%= l.name %></input>
    <% end %>
  <br>
  <br>
  <label>Create A New Title:</label>
  <p>Title: <input type="text" name="title[name]" id="new_title"></p>
  <br>
  <label>Create A New Landmark:</label>
  <p>Landmark: <input type="text" name="landmark[name]" id="new_landmark"></p>
  <input type="submit" name="Create New Figure" value="Create New Figure">
  </form>